<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="$messages.locale.language" lang="$messages.locale.language">
    <head>
        <title>$meta.reportTitle - $messages.getString("jirastatus")</title>
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
        <meta name="description" content="Jira Issues status"/>
        <link href="reportng.css" rel="stylesheet" type="text/css"/>
    </head>
    <body onload="checkCookie()">
        <div id="meta">
            $messages.getString("generatedBy")
            $messages.getString("atTime") $meta.reportTime $messages.getString("onDate") $meta.reportDate
            <br/>
            <span id="systemInfo">$meta.user&nbsp;/&nbsp;$meta.javaInfo&nbsp;/&nbsp;$meta.platform</span>
        </div>

        <h1>$messages.getString("jirastatus")</h1>

        <table class="overviewTable">
            <tr>
                <th class="header suite">Issue</th>
                <th class="header suite">Status</th>
                <th class="header suite">Summary</th>
                <th class="header suite">Assignee</th>
                <th class="header suite">Reporter</th>
                <th class="header suite">Priority</th>
            </tr>

            #foreach ($issue in $jiraConnector.getKnownFailures().values())
                #set ($statusClass = "")
                #if ("Resolved" == $issue.status || "Closed" == $issue.status)
                    #set ($statusClass = "jiraClosed")
                #elseif("In Progress" == $issue.status)
                    #set ($statusClass = "jiraInProgress")
                #elseif("UNKNOWN" == $issue.status)
                    #set ($statusClass = "jiraUnknown")
                #end

                <tr class="columnHeadings $statusClass">
                    <td class="jiraIssue"><a href=$issue.browseURL>$issue.key</a></td>
                    <td class="jiraIssue">
                        $issue.status
                    </td>
                    <td class="jiraIssue">
                        #if ($issue.summary.length() > 130)
                            $issue.summary.substring(0, 128).concat("...")
                        #else
                            $issue.summary
                        #end
                    </td>
                    <td class="jiraIssue">$issue.assignee</td>
                    <td class="jiraIssue">$issue.reporter</td>
                    <td class="jiraIssue">$issue.priority</td>
                </tr>
            #end
        </table>
    </body>
</html>
