<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="$messages.locale.language" lang="$messages.locale.language">
    <head>
        <title>$meta.reportTitle - $messages.getString("overview")</title>
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
        <meta name="description" content="TestNG unit test results."/>
        <link href="reportng.css" rel="stylesheet" type="text/css"/>
        <script  type="text/javascript" src="jquery-1.4.3.min.js"></script>
        <script type="text/javascript" src="reportng.js"></script>
        #if ($meta.stylesheetPath)
        <link href="custom.css" rel="stylesheet" type="text/css"/>

        #end
    </head>
    <body onload="checkCookie()">
        <div id="meta">
            $messages.getString("generatedBy")
            $messages.getString("atTime") $meta.reportTime $messages.getString("onDate") $meta.reportDate
            <br/>
            <span id="systemInfo">$meta.user&nbsp;/&nbsp;$meta.javaInfo&nbsp;/&nbsp;$meta.platform</span>
        </div>

        <h1>$meta.reportTitle #if($prefix == "g_") $messages.getString("byGroups")
            #else
                $messages.getString("bySuites")
        #end</h1>
        Time stamp: <img src="timeStampOff.png" onclick="toggleTimeStamp()" title="Time stamp switch" id="timeStampSwitch" alt="switch"></img>
        <div style="float:right"><a href="$anotherView">Switch to #if($prefix != "g_") $messages.getString("byGroups")
        #else
            $messages.getString("bySuites")
        #end view</a></div>
        #if ($suites.size() > 1)
            <table class="overviewTable">
                <tr>
                    <th colspan="9" class="header suite">
                        $messages.getString("grandTotal")
                    </th>
                </tr>
                <tr class="columnHeadings">
                    <th rowspan="2">&nbsp;</th>
                    <th rowspan="2">$messages.getString("passed")</th>
                    <th colspan="2">$messages.getString("skipped")</th>
                    <th colspan="2">$messages.getString("failed")</th>
                    <th rowspan="2">$messages.getString("passRate")</th>
                    <th rowspan="2">$messages.getString("scripts")</th>
                </tr>
                <tr class="columnHeadings  additional">
                    <th class="nRight">$messages.getString("unknown")</th>
                    <th>$messages.getString("fewAccounts")</th>
                    <th class="nRight">$messages.getString("unknown")</th>
                    <th>$messages.getString("expected")</th>
                </tr>
                <tr class="grandtotal">
                    <td class="suite totalLabel">&nbsp;</td>
                    <td class="passed number">$totalRow.get(0)</td>
                    <td class="skipped number nRight">$totalRow.get(1)</td>
                    <td class="skipped number numberAdd">$totalRow.get(2)</td>
                    <td class="failed number nRight">$totalRow.get(3)</td>
                    <td class="expectedFailed number numberAdd">$totalRow.get(4)</td>
                    <td class="passRate suite">
                        #set ($passRate = (($totalRow.get(0)) * 100 / ($totalRow.get(0)+$totalRow.get(1)+$totalRow.get(2)+$totalRow.get(3)+$totalRow.get(4))))
                        $passRate%
                    </td>
                    <td class="number">$totalRow.get(5)</td>
                </tr>
            </table>
        #end
        #foreach ($suite in $suites)
        <table class="overviewTable">
            #set ($totalTestMethods = 0)
            #set ($suiteId = $velocityCount)
            #set ($totalTests = 0)
            #set ($totalPassed = 0)
            #set ($totalSkipped = 0)
            #set ($totalFailed = 0)
            #set ($totalExpectedFailed = 0)
            #set ($totalFewAccounts = 0)
            <tr>
                <th colspan="9" class="header suite">
                    <div class="suiteLinks">
                        #if (!$suite.invokedMethods.empty)
                        ##<a href="suite${suiteId}_chronology.html">$messages.getString("chronology")</a>
                        #end
                        #if ($utils.hasGroups($suite))
                        <a href="suite${suiteId}_groups.html">$messages.getString("groups")</a>
                        #end
                    </div>
                    $utils.removeMainPackageName(${suite.name})#if($suite.getAttribute("run"))<a href="$utils.getDashLink()runTempid=${dashRun.id}" target="_blank"><span>&nbsp;</span><img src="ci-dashboard.png" width="16" title="See test results in dashboard"></a>#end
                </th>
            </tr>
            <tr class="columnHeadings">
                <td rowspan="2">&nbsp;</td>
                <th rowspan="2">$messages.getString("duration")</th>
                <th rowspan="2">$messages.getString("passed")</th>
                <th colspan="2">$messages.getString("skipped")</th>
                <th colspan="2">$messages.getString("failed")</th>
                <th rowspan="2">$messages.getString("passRate")</th>
                <th rowspan="2">$messages.getString("scripts")</th>
            </tr>
            <tr class="columnHeadings  additional">
				<th class="nRight">$messages.getString("unknown")</th>
				<th>$messages.getString("fewAccounts")</th>
				<th class="nRight">$messages.getString("unknown")</th>
				<th>$messages.getString("expected")</th>
            </tr>
            #foreach ($result in $utils.sortByComparator($suite.results))
                #if ($result.testContext.failedTests.size() > 0 || $result.testContext.skippedTests.size() > 0 ||
                    $result.testContext.passedTests.size() > 0)
                    #set ($notPassedTests = $result.testContext.skippedTests.size() + $result.testContext.failedTests.size())
                    #set ($total = $result.testContext.passedTests.size() + $notPassedTests)
                    #set ($fewAccounts = $utils.getFewAccountsCount($result.testContext))
                    #set ($skipped = $result.testContext.skippedTests.size() - $fewAccounts)
                    #set ($expectedFailed = $utils.getExpectedFailuresCount($result.testContext))
                    #set ($failed = $result.testContext.failedTests.size() - $expectedFailed)
                    #set ($totalTests = $totalTests + $total)
                    #set ($totalPassed = $totalPassed + $result.testContext.passedTests.size())
                    #set ($totalSkipped = $totalSkipped + $skipped)
                    #set ($totalExpectedFailed = $totalExpectedFailed + $expectedFailed)
                    #set ($totalFailed = $totalFailed + $failed)
                    #set ($totalFewAccounts = $totalFewAccounts + $fewAccounts)
                    #set ($testMethods = $utils.getTotalTestMethods($result.testContext))
                    #set ($totalTestMethods = $totalTestMethods + $testMethods)
                    <tr class="test" onMouseOver="color_change(this)" style="" onMouseOut="this.style.backgroundColor = ''">
                        <td class="test">
                            <span class="timeStamp">$utils.convertDate(${result.testContext.getStartDate()}) </span><a href="${prefix}suite${suiteId}_test${velocityCount}_results.html">${result.testContext.name}</a>
                        </td>
                        <td class="duration">
                            $utils.formatDuration($utils.getDuration($result.testContext))s
                        </td>

                        #if ($result.testContext.passedTests.size() > 0)
                            <td class="passed number">$result.testContext.passedTests.size()</td>
                        #else
                            <td class="zero number">0</td>
                        #end

                        #if ($skipped > 0)
                            <td class="skipped number nRight">$skipped</td>
                        #else
                            <td class="zero number nRight">0</td>
                        #end
                        #if ($fewAccounts > 0)
                            <td class="skipped number numberAdd">$fewAccounts
                            </td>
                        #else
                            <td class="zero number numberAdd">0
                            </td>
                        #end


                        #if ($failed > 0)
                            <td class="failed number nRight">$failed
                            </td>
                        #else
                            <td class="zero number nRight">0
                            </td>
                        #end
                        #if ($expectedFailed > 0)
                            <td class="expectedFailed number numberAdd">$expectedFailed
                            </td>
                        #else
                            <td class="zero number numberAdd">0
                            </td>
                        #end


                        <td class="passRate">
                        #if ($total > 0)
                            #set ($passRate = (($total - $notPassedTests) * 100 / $total))
                            $passRate%
                        #else
                            $messages.getString("notApplicable")
                        #end
                        </td>
                        #if ($testMethods > 0)
                            <td class="number">$testMethods</td>
                        #else
                            <td class="zero number">0</td>
                        #end
                    </tr>
                #end
            #end

            <tr class="suite">
                <td class="suite totalLabel">$messages.getString("total")</td>
                <td>&nbsp;</td>

                #if ($totalPassed > 0)
                <td class="passed number">$totalPassed</td>
                #else
                <td class="zero number">0</td>
                #end

                #if ($totalSkipped > 0)
                <td class="skipped number nRight">$totalSkipped</td>
                #else
                <td class="zero number nRight">0</td>
                #end
                #if ($totalFewAccounts > 0)
                <td class="skipped number numberAdd">$totalFewAccounts</td>
                #else
                <td class="zero number numberAdd">0</td>
                #end

                #if ($totalFailed > 0)
                <td class="failed number nRight">$totalFailed
                </td>
                #else
                <td class="zero number nRight">0
                </td>
                #end
                #if ($totalExpectedFailed > 0)
                <td class="expectedFailed number numberAdd">$totalExpectedFailed
                </td>
                #else
                <td class="zero number numberAdd">0
                </td>
                #end

                <td class="passRate suite">
                    #if ($totalTests > 0)
                    #set ($passRate = (($totalPassed) * 100 / $totalTests))
                    $passRate%
                    #else
                    $messages.getString("notApplicable")
                    #end
                </td>
                #if ($totalTestMethods > 0)
                    <td class="number">$totalTestMethods</td>
                #else
                   <td class="zero number">0</td>
                #end
            </tr>
        </table>
        #end
        #if ($emptySuites.size() > 0)
            <b>List of empty suites:</b><br/>
            #foreach ($suite in $emptySuites)
                $utils.removeMainPackageName(${suite.name})<br/>
            #end
        #end
    </body>
</html>
