<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite verbose="2" name="Custom" configfailurepolicy="continue" parallel="false" thread-count="1">

    <test verbose="2" name="TestRunnerProperty" preserve-order="true">
        <classes>
            <class name="com.com.jennifer.javaproperties.TestRunnerProperty">
            </class>
        </classes>
    </test>
</suite>